In [ ]:
#!wget https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv

# Import pandas using its alias
import pandas as pd

# Create the DataFrame object
titanic_df = pd.read_csv("titanic.csv")

In [ ]:
titanic_df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:


titanic_df['Fare_Double'] = titanic_df['Fare'].apply(lambda x: x * 2)


class_mapping = {1: 'First', 2: 'Second', 3: 'Third'}
titanic_df['Class_Category'] = titanic_df['Pclass'].map(class_mapping)


titanic_transformed = titanic_df.applymap(lambda x: x ** 2)


print("\nModified Titanic Dataset:")
print(titanic_df[['Fare', 'Fare_Double', 'Pclass', 'Class_Category']].head())
print("\nTransformed Titanic Dataset (Numerical Values Squared):")
print(titanic_transformed[['Fare', 'Fare_Double', 'Pclass']].head())

In [ ]:

cabins_data = {
    'PassengerId': [1, 2, 3, 4, 5],
    'Cabin': ['C123', 'E456', 'C123', 'G789', 'D101']
}

cabins_df = pd.DataFrame(cabins_data)


print("\nCabins DataFrame:")
print(cabins_df)

Cabins DataFrame:
   PassengerId Cabin
0            1  C123
1            2  E456
2            3  C123
3            4  G789
4            5  D101

In [ ]:

titanic_cabins = pd.merge(titanic_df, cabins_df, on='PassengerId')



titanic_cabins.shape

(5, 13)

In [ ]:
titanic_cabins.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin_x,Embarked,Cabin_y
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,C123
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,E456
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,C123
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,G789
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,D101

In [ ]:
import pandas as pd


df1 = pd.DataFrame({'key': ['A', 'B', 'C', 'D'],
                    'value_left': [1, 2, 3, 4]})

df2 = pd.DataFrame({'key': ['B', 'D', 'E', 'F'],
                    'value_right': [5, 6, 7, 8]})


left_join_result = pd.merge(df1, df2, on='key', how='left')


right_join_result = pd.merge(df1, df2, on='key', how='right')

print("Left Join Result:")
print(left_join_result)

print("\nRight Join Result:")
print(right_join_result)

Left Join Result:
  key  value_left  value_right
0   A           1          NaN
1   B           2          5.0
2   C           3          NaN
3   D           4          6.0

Right Join Result:
  key  value_left  value_right
0   B         2.0            5
1   D         4.0            6
2   E         NaN            7
3   F         NaN            8

In [ ]:

titanic_full = pd.merge(titanic_cabins, titanic_df, left_on='PassengerId', right_on='PassengerId', suffixes=('_cabins', '_original'))


print("\nJoined DataFrame (titanic_full):")
print(titanic_full.head())